.site-wrapper {
  max-width: 500px;
  margin: auto;
  position: relative;
}

.site-main {
  position: relative;
  z-index: 10;
}

.highlight {
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #f8f9fa;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}


.site-header {
  position: relative;
}

.svg-header-ui {
  transform: translate3d(-1.75rem, 1rem, 0);
}


.site-footer {
  font-size: .9rem;
}

textarea {
  &:focus {
    box-shadow: none;
    outline: none;
  }
}

input.form-control-subtle {
  border-width: 0 0 1px 0;
  border-radius: 0;
  color: rgba($text-color, .45);
  &:focus {
    box-shadow: none;
    border-color: rgba($text-color, .5);
  }
}

textarea.form-control-subtle {
  border-width: 0;
  &:focus {
    box-shadow: none;
  }
}


.post-content {
  img {
    max-width: 100%;
    height: auto;
  }
}

.form-select:focus {
  border-color: $secondary !important;
}
